pandas~=1.3.3
numpy~=1.21.3
scipy~=1.7.1
scikit-learn~=1.0
statsmodels
adjustText
optuna
tqdm~=4.62.3
click
matplotlib~=3.4.3
seaborn~=0.11.2
pymc3
modAL
rich
pandasql
torch~=1.10.2+cu102
psycopg==3.0b1
psycopg-binary==3.0b1
gower
kmodes
adjustText